.alice-carousel{
    /* height: 20rem; */
    width: 39rem;



}
@media only screen and (max-width: 600px){
   .alice-carousel{
       width: 15rem !important;
       justify-content: center !important;

   }

   .img{
       width: 15rem !important;

   }
  
}
.img{
   justify-content: center;
    width: 36rem;
    padding: 2rem;

   
}

.img:hover{
    cursor: pointer;
}
.alice-carousel__next-btn-item , .alice-carousel__prev-btn-item{
    display: none; 
    
}

li{
    color: black;
}

.alice-carousel__dots-item:not(.__custom) {
    background: rgb(133, 131, 131);
    width: 7px;
    height: 7px;
    margin-top: -3rem;
    margin-bottom: 1rem;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background: black;
   
    ;
}